<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>mi primer render</title>
</head>

<body>
    <h2>Cielo</h2>
    <img src="/img/cielo.jpg" width="200px">
    <% for (let i=0; i < 8; i++) {%>
        <% if(i%2==0){ %>
            <p class="rojo">soy un par <%= i %></p>
        <% } else {%>
            <p class="verde">soy un impar <%= i %></p>
        <% }%>
    <% } %>
    <h2>Lista de usuarios 👇</h2>
    <% for (let i=0; i < users.length ; i++) {%>
        <li>
            <%= users[i] %>
        </li>
    <% } %>
</body>

</html>