<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/putYdelete/edit?_method=PUT">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="<%= userAeditar.name %>">

        <input type="submit" value="Editar">
    </form>
</body>
</html>